<footer class="container-footer">
    <div class="footer">
        <ul class="row footer-links">
                <li class="col-4 col-xs-1 footer-link">
                    <a href="https://web.archive.org/web/20161107145051/http://corp.roblox.com/" class="text-footer-nav roblox-interstitial" target="_blank">
                        About Us
                    </a>
                </li>
                <li class="col-4 col-xs-1 footer-link">
                    <a href="https://web.archive.org/web/20161107145051/http://corp.roblox.com/jobs" class="text-footer-nav roblox-interstitial" target="_blank">
                        Jobs
                    </a>
                </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="https://web.archive.org/web/20161107145051/http://blog.roblox.com/" class="text-footer-nav" target="_blank">
                    Blog
                </a>
            </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="https://web.archive.org/web/20161107145051/http://corp.roblox.com/parents" class="text-footer-nav roblox-interstitial" target="_blank">
                    Parents
                </a>
            </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="https://web.archive.org/web/20161107145051/http://en.help.roblox.com/" class="text-footer-nav roblox-interstitial" target="_blank">
                    Help
                </a>
            </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="https://web.archive.org/web/20161107145051/https://www.roblox.com/Info/terms-of-service" class="text-footer-nav" target="_blank">
                    Terms
                </a>
            </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="https://web.archive.org/web/20161107145051/https://www.roblox.com/Info/Privacy.aspx" class="text-footer-nav" target="_blank">
                    Privacy
                </a>
            </li>
        </ul>
        <!-- NOTE: "ROBLOX Corporation" is a healthcheck; be careful when updating! -->
        <p class="text-footer footer-note">
            2016 ROBLOX Corporation
                <br>
                <span class="footer-kid-safe-logo">

        </p>
    </div>
</footer>
